<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title> Vocabulary for you </title>
</head>

<body id="page-top">
    <!-- Navigation (menu, header) -->
    <header th:replace="layout :: site-header" />

    <!-- Main contents -->
    <header class="masthead">
      <div class="container-fluid">
          <div class="jumbotron">
              <h1 class="display-3">Hello, world!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
          </div>
      </div>
    </header>

    <!-- Footer -->
    <footer th:replace="layout :: site-footer" />
</body>

</html>