<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title> Vocabulary for you </title>
</head>

<body id="page-top">
    <!-- Navigation (menu, header) -->
    <header th:replace="layout :: site-header" />

    <!-- Main contents -->
    <header class="masthead">
      <div class="container">
        <div class="row">
            <div class="col-sm-4 portfolio-item">
              <a class="portfolio-link" href="words/word.html">
                <img class="img-fluid" src="../static/img/word.png" th:src="@{img/word.png}" alt="Add new word">
              </a>
            </div>
            <div class="col-sm-4 portfolio-item">
              <a class="portfolio-link" href="words/statistics.html">
                <img class="img-fluid" src="../static/img/statistics.png" th:src="@{img/statistics.png}" alt="Statistics">
              </a>
            </div>
            <div class="col-sm-4 portfolio-item">
              <a class="portfolio-link" href="words/learn.html">
                <img class="img-fluid" src="../static/img/learn.png" th:src="@{img/learn.png}" alt="Learn words">
              </a>
            </div>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer th:replace="layout :: site-footer" />
</body>

</html>