<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vocabulary for you">
    <meta name="author" content="Ghost Rider">

    <title> Vocabulary for you </title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="../static/css/freelancer.min.css" th:href="@{css/freelancer.min.css}" rel="stylesheet" />
</head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" th:text="${appName}"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="word.html">Add a word</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="statistic.html">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="learn.html">Learn</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <span class="name">WORDS</span>
            <h2> <span class="skills" th:text="${countWord}"></span> </h2>
          </div>
          <div class="intro-text">
            <span class="name">LANGUAGES</span>
            <h2> <span class="skills" th:text="${countLanguage}"></span> </h2>
          </div>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; SienDev <span th:text="${currentYear}"></span>
            </div>
            <div class="col-lg-12">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="https://www.facebook.com/yura.golubnichenko" target="_blank">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="https://twitter.com/Ghost_gu" target="_blank">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="https://www.linkedin.com/in/yuriy-golubnichenko-89185859/" target="_blank">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script src="../static/vendor/popper/popper.min.js" th:src="@{vendor/popper/popper.min.js}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js" th:src="@{js/jqBootstrapValidation.js}"></script>
    <script src="../static/js/contact_me.js" th:src="@{js/contact_me.js}"></script>

    <!-- Custom scripts for this templates -->
    <script src="../static/js/freelancer.min.js" th:src="@{js/freelancer.min.js}"></script>

  </body>

</html>
